/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
    padding-left: 20px;
    font-size: 1.8em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex; /* Alinear los elementos como flexbox */
    justify-content: center; /* Centrar los elementos horizontalmente */
}

nav ul li {
    float: none; /* Eliminar float para que funcione con flexbox */
}

nav ul li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #555;
}

section {
    padding: 60px 0;
}

section h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 30px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Estilos específicos */
#inicio {
    background-color: #f2f2f2;
}

#biografia {
    background-color: #e6e6e6;
    padding: 40px 0;
    text-align: center;
}

#biografia img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

#proyectos {
    background-color: #f2f2f2;
}

#venta {
    background-color: #e6e6e6;
}

#cursos {
    background-color: #f2f2f2;
}

#contacto {
    background-color: #e6e6e6;
    padding: 40px 0;
}

.contact-info {
    text-align: center;
}

.contact-info p {
    margin: 10px 0;
}

.contact-info strong {
    font-weight: bold;
}
